/*ESTANDARES*/

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;;
    color: black;
}

a{
    font-size: 24px;
}

h1{
    font-weight: bold;
    font-family: "Lora", serif;
    font-size: 48px;
}

h2 {
    font-family: "Lora", serif;
    font-size: 24px;
}

.Hero p{
    font-family: "Lora", serif;
    font-size: 24px;
}

.Acerca-de p{
    font-family: "Lora", serif;
}

.Noticia-enlace p{
    font-family: "Lora", serif;
}
p{
    font-size: 16px;
}

/*HERO*/


.Hero {
    background-image: url("../Img/Fondo-hero.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: black;

}

/*HERO NAVEGACION*/

.Navegacion{
    display: flex;
    height: 164px;
    justify-content: space-between;
    align-items: center;
}

.Navegacion .Logo{
    margin: 0px;
    color: white;
    padding: 6px 20px;
    background-color: #B11623;
    margin-left: 30px;
    box-shadow: 0px 4px 10px black;
}

.Navegacion .Enlaces-Navegacion{
    display: flex;
    padding: 30px;
    gap: 40px;
}

.Navegacion .Enlaces-Navegacion a{
    text-decoration: none;
    color: white;
}

/*HERO TXT*/

.Contenido-Hero{
    color: white;
    text-align: center;
}

/*ACERCA DE*/

.Acerca-de{
    height: 455px;
    padding: 80px 40px;
    display: grid;
}
.Contenido-Acerca-de{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    text-align: center;
}

.Contenido-Acerca-de h2{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 0;
    justify-self: center;
}

.Contenido-Acerca-de p{
    line-height: 30px;
}

/*Noticias*/

.Noticias {
    margin-top: 30px;
    padding: 40px;
}

.Noticias h2{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 0;
    text-align: center;
    justify-self: center;
    margin-bottom: 40px;
}

.Noticias-contenido{
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-content: center;
    justify-content: center;
}

.Noticia-enlace{
    position: relative;
    width: 236px;
    height: 421px;
    overflow: hidden; /* IMPORTANTE: evita que el texto se salga */
}

.Noticia-enlace img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.Noticia-enlace p{
    position: absolute;
    bottom: 0;
    color: white;
    padding: 10px;
}

/*NOTICIAS DESCRIPCION*/

.Noticia-descripcion{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px 60px; 
    align-items: center;
    justify-items: center;
    padding: 40px;
}

.Noticia-descripcion img{
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.Noticia-descripcion p{
    margin: 0;
    max-width: 500px;
}

/*FOOTER*/

.Footer{
    margin-top: 100px;
    background-color: #292C37;
    width: 100%;
    padding: 30px;
    text-align: center;
}

.Footer a{
    text-decoration: none;
    color: white;
}